# Flask Configuration
FLASK_ENV=development
SECRET_KEY=[SECRET_KEY]

# PostgreSQL — Neon connection string
DATABASE_URL=[CONNECTION DATABASE_URL]
# Security Configurations
# Since argon2-cffi is used, these represent the hashing algorithm parameters
ARGON2_TIME_COST=2
ARGON2_MEMORY_COST=65536
ARGON2_PARALLELISM=2
